body {
    background-color: #6A2E2E;
}

h1 {
  color: #EFF6A5;
  font-family: "Futura", "Serif";
  margin-left: 11px;
}

div {
  color: #EFF6A5;
  font-family: "Hiragino Maru Gothic ProN", "Serif";
  margin-left: 11px;
}
